{% extends "base.twig" %}

{% block content %}

    <div class="container">
        <div class="post-content">
            <div class="row">
             <div class="contact-info col-lg-4">
                    <section>
                        {{ post.content|raw }}
                    </section>
            </div>
            <div class="post-content col-lg-8">
                <article class="contact-details">
                    <div class="contacts-form form-classic">


                         <form class="gp-form form-lg" id="form-contact" novalidate="novalidate" data-enurly="https://act.greenpeace.org/ea-action/action?ea.client.id=1849&amp;ea.campaign.id=56223&amp;format=json" data-enurln="https://act.greenpeace.org/ea-action/action?ea.client.id=1849&amp;ea.campaign.id=64770&amp;format=json">


                            <div id="main-form" >

                                <div class="field-row two-in-row">
                                    <div class="field-wrap">
                                        <label for="00N7E000000nl0L">{{ __( 'Votre prénom', 'planet4-child-theme-luxembourg' ) }}*</label>
                                        <input type="text" value="" name="00N7E000000nl0L" id="00N7E000000nl0L" data-msg="{{ __( 'Veuillez indiquer votre prénom', 'planet4-child-theme-luxembourg' ) }}" data-rule-required="true" data-en="first_name"  data-hj-masked/>
                                    </div>

                                    <div class="field-wrap">
                                        <label for="00N7E000000nl0Q">{{ __( 'Votre nom', 'planet4-child-theme-luxembourg' ) }}*</label>
                                        <input type="text" value="" name="00N7E000000nl0Q" id="00N7E000000nl0Q" data-msg="{{ __( 'Veuillez indiquer votre nom', 'planet4-child-theme-luxembourg' ) }}" data-rule-required="true" data-en="last_name"  data-hj-masked/>
                                    </div>
                                </div>

                                <div class="field-row two-in-row">
                                    <div class="field-wrap">
                                        <label for="email">{{ __( 'Email', 'planet4-child-theme-luxembourg' ) }}*</label>
                                        <input type="email" data-rule-required="true" value="" id="email" name="email" data-rule-email="true" data-msg-email="{{ __( 'Merci de rentrer une adresse e-mail valide', 'planet4-child-theme-luxembourg' ) }}" data-en="email"  data-hj-masked/>
                                    </div>

                                    <div class="field-wrap">
                                        <label for="phone">{{ __( 'Téléphone', 'planet4-child-theme-luxembourg' ) }}</label>
                                        <input type="text" value="" name="phone" id="phone" data-rule-phone="true" data-msg-phone="{{ __( 'Merci de rentrer un numéro de téléphone valide.', 'planet4-child-theme-luxembourg' ) }}" data-en="phone_number" />
                                    </div>
                                </div>




                                <div class="field-row two-in-row">
                                    <div class="field-wrap radio-box">
                                        <label>{{ __( 'Je suis adhérent-e', 'planet4-child-theme-luxembourg' ) }}*</label>
                                        <div class="radio-wrap">
                                            <input type="radio" name="is_adherent" value="1" id="adherent-oui"/>
                                            <label for="adherent-oui">{{ __( 'Oui', 'planet4-child-theme-luxembourg' ) }}</label>
                                        </div>
                                        <div class="radio-wrap">
                                            <input type="radio" name="is_adherent" value="0" id="adherent-non" checked/>
                                            <label for="adherent-non">{{ __( 'Non', 'planet4-child-theme-luxembourg' ) }}</label>
                                        </div>
                                    </div>
                                    <div class="field-wrap" id="numadherent-part" style="display:none ">
                                        <label for="numadherent">{{ __( 'N° adhérent (facultatif)', 'planet4-child-theme-luxembourg' ) }}</label>
                                        <input type="text" name="numadherent" id="numadherent" value="" data-hj-masked/>
                                    </div>
                                </div>





                                <div class="field-wrap">
                                    <label for="selection">{{ __( 'Objet de votre message', 'planet4-child-theme-luxembourg' ) }}</label>
                                    <select name="selection" id="selection" style="width: 100%">
                                        <option value="">{{ __( 'Je souhaite...', 'planet4-child-theme-luxembourg' ) }}</option>
                                        <optgroup label="{{ __( 'Gérer mon adhésion', 'planet4-child-theme-luxembourg' ) }}" data-type="Admin">
                                            <option value="Changement de coordonnées personnelles" data-action="show-coords" >{{ __( 'Modifier mes coordonnées', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Changement de coordonnées bancaires" data-action="show-iban">{{ __( 'Modifier mes coordonnées bancaires', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Reçu fiscal" data-action="show-fiscal">{{ __( 'Obtenir un reçu fiscal', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="" data-action="show-autre">{{ __( 'Autre chose concernant mon adhésion', 'planet4-child-theme-luxembourg' ) }}</option>
                                        </optgroup>

                                        <optgroup label="{{ __( 'En savoir plus sur le fonctionnement de Greenpeace', 'planet4-child-theme-luxembourg' ) }}">
                                            <option value="Devenir bénévole pour Greenpeace" data-action="show-benevolat">{{ __( 'Devenir bénévole pour Greenpeace', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Travailler chez Greenpeace" data-action="show-travail">{{ __( 'Travailler chez Greenpeace', 'planet4-child-theme-luxembourg' ) }}</option>
                                        </optgroup>

                                        <optgroup label="{{ __( 'Poser une question sur les campagnes de Greenpeace', 'planet4-child-theme-luxembourg' ) }}" data-type="Réactions Campagnes">
                                            <option value="Agriculture / OGM" data-action="show-campagne" >{{ __( 'Agriculture / Élevage', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Climat" data-action="show-campagne" >{{ __( 'Climat / Energie / Nucléaire', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Forêt" data-action="show-campagne" >{{ __( 'Forêts', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Océan" data-action="show-campagne" >{{ __( 'Océans', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Toxique" data-action="show-campagne" >{{ __( 'Toxiques', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="HS Autre" data-action="show-campagne" >{{ __( 'Hors sujet', 'planet4-child-theme-luxembourg' ) }}</option>
                                        </optgroup>

                                        <optgroup label="{{ __( 'Poser une autre question sur Greenpeace', 'planet4-child-theme-luxembourg' ) }}" data-type="Fonctionnement">
                                            <option value="Poser une question sur Greenpeace" data-action="show-greenpeace">{{ __( 'Poser une question sur Greenpeace', 'planet4-child-theme-luxembourg' ) }}</option>
                                            <option value="Poser une question aux Relations Presse" data-action="show-presse">{{ __( 'Poser une question aux Relations Presse', 'planet4-child-theme-luxembourg' ) }}</option>

                                        </optgroup>

                                    </select>
                                </div>



                                <div id="campagne-part"  class="form-part hidden" >
                                    <div class="important">
                                        <p>
                                            {{ __( 'Notre site Internet est plein de ressources. Pensez à vérifier si la réponse à votre question ne s’y trouve pas ! ;-)', 'planet4-child-theme-luxembourg' ) }}
                                        </p>

                                        <p>
                                            <a href="/?s=" class="btn btn-secondary open-search-form">{{ __( 'Rechercher dans le site', 'planet4-child-theme-luxembourg' ) }}</a>
                                        </p>
                                    </div>

                                    <div class="field-wrap">
                                        <label for="message">
                                            {{ __( 'Posez-nous votre question ici :', 'planet4-child-theme-luxembourg' ) }}
                                        </label>
                                    </div>

                                </div>

                                <div id="travail-part"  class="form-part hidden" >
                                    <div class="important">

                                        <p>
                                             {{ __( 'Vous souhaitez mettre votre énergie au service des causes que nous défendons ? Consultez notre page emplois :', 'planet4-child-theme-luxembourg' ) }}
                                        </p>

                                        <p>
                                            {% if ( lang == 'fr' ) %}
                                                <a href="/luxembourg/fr/emplois/" class="more-link">Emplois</a>
                                            {% else %}
                                                <a href="/luxembourg/de/jobs/" class="more-link">Jobs</a>
                                            {% endif %}

                                        </p>

                                    </div>
                                </div>



                                <div id="fiscal-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                             {{ __( 'Si vous nous soutenez par prélèvement automatique, les reçus fiscaux sont automatiquement envoyés en début d’année.', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                    </div>

                                    <div class="field-wrap">
                                        <label for="message">
                                            {{ __( 'Vous avez besoin du duplicata d’un de vos reçus fiscaux ?', 'planet4-child-theme-luxembourg' ) }}

                                            <br/><br/>
                                            {{ __( 'Dites-le nous ici :', 'planet4-child-theme-luxembourg' ) }}
                                        </label>
                                    </div>

                                </div>


                                <div id="fiscal2-part" class="form-part hidden">
                                    <div class="field-wrap" >
                                        <p style="font-size: 12px;">
                                            {{ __( 'Greenpeace est une association reconnue d’intérêt général. Ainsi, vous pouvez déduire 20% du total de vos dons de votre impôt sur le revenu dans la mesure où la somme des dons versés au cours d’une année dépasse 120€. Grâce à vos dons nous sommes à 100% efficaces sur le terrain !', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                    </div>
                                </div>


                                <div id="presse-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                            {{ __( 'Nos chargés de communication sont à votre écoute.', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                        <p>
                                            {{ __( 'Contactez Pauline Maes sur ', 'planet4-child-theme-luxembourg' ) }} <a href="mailto:pauline.maes@greenpeace.org">pauline.maes@greenpeace.org</a>
                                        </p>
                                    </div>
                                </div>



                                <div id="greenpeace-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                            {{ __( 'Pour tout savoir sur Greenpeace, notre fonctionnement comme nos missions, consultez nos pages', 'planet4-child-theme-luxembourg' ) }}
                                            {% if ( lang == 'fr' ) %}
                                                <a href="/luxembourg/fr/sinformer/nous-decouvrir/" target="_blank" >Greenpeace</a>.
                                            {% else %}
                                                <a href="/luxembourg/de/sich-informieren/greenpeace/" target="_blank" >Greenpeace</a>.
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="field-wrap">
                                        <label for="message">{{ __( 'Vous n’avez pas trouvé ? Posez-nous votre question ici.', 'planet4-child-theme-luxembourg' ) }}
                                        </label>
                                    </div>
                                </div>


                                <div id="benevolat-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                            {{ __( 'Vous souhaitez rejoindre les militants et bénévoles de Greenpeace pour participer à nos campagnes ? Quelle belle idée ! C’est tous ensemble que nous pourrons obtenir les avancées nécessaires à un monde meilleur !', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                        <p>
                                            {% if ( lang == 'fr' ) %}
                                                <a href="/luxembourg/fr/agir/benevolat/" class="more-link">Devenir bénévole à nos côtés !</a>
                                            {% else %}
                                                <a href="/luxembourg/de/handeln/ehrenamtlicher-helferin-werden/" class="more-link">Ehrenamtlicher HelferIn werden</a>
                                            {% endif %}

                                        </p>
                                    </div>
                                </div>

                                <div id="autre-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                            {{ __( 'Vous souhaitez d’autres informations sur votre adhésion ? Vous désirez apporter une modification à votre soutien à Greenpeace ? Adressez-nous vos demandes et questions. Nous avons hâte de vous lire !', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                    </div>

                                    <div class="field-wrap">
                                        <p>
                                            {{ __( 'Dites-nous tout', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                    </div>
                                </div>


                                <div id="iban-part" class="form-part hidden">
                                    <div class="important">
                                        <p>
                                            {{ __( 'Pour continuer à prendre part aux campagnes de Greenpeace après avoir changé de compte bancaire, rien de plus simple ! Il vous suffit de nous indiquer vos nouvelles coordonnées bancaires juste ici :', 'planet4-child-theme-luxembourg' ) }}
                                        </p>
                                    </div>
                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="beneficiaire">{{ __( 'Nom bénéficiaire', 'planet4-child-theme-luxembourg' ) }}*</label>
                                            <input type="text" value="" name="beneficiaire" id="beneficiaire" data-rule-required="true" data-msg="Veuillez entrer un nom" data-hj-masked/>
                                        </div>
                                    </div>

                                    <div class="field-row">
                                        <div class="field-wrap">
                                            <label for="">{{ __( 'Numéro IBAN', 'planet4-child-theme-luxembourg' ) }}*</label>
                                            <div class="iban-wrap">
                                                <input type="text" name="iban" id="iban" data-rule-required="true" data-mask="SS00 AAAA AAAA AAAA AAAA AAAA AAAZ ZZZZ ZZ" data-rule-maxlength="42" data-rule-minlength="33" data-msg-required="{{ __( 'Votre IBAN est obligatoire', 'planet4-child-theme-luxembourg' ) }}" data-msg-minlength="{{ __( 'Votre IBAN est incorrect (trop court)', 'planet4-child-theme-luxembourg' ) }}" data-msg-maxlength="{{ __( 'Votre IBAN est incorrect (trop long)', 'planet4-child-theme-luxembourg' ) }}" data-mask-translation="iban" data-rule-iban="true"  data-hj-masked>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="bic">{{ __( 'Numéro BIC', 'planet4-child-theme-luxembourg' ) }}*</label>
                                            <input type="text" name="bic" id="bic" data-rule-required="true" data-mask="SSSSSSAAZZZ" data-mask-translation="bic" data-rule-maxlength="11" data-rule-minlength="8" data-msg="{{ __( 'BIC invalide', 'planet4-child-theme-luxembourg' ) }}"  data-hj-masked/>
                                        </div>
                                    </div>
                                </div>







                                <div id="coords-part" class="form-part hidden" >
                                    <div class="important">
                                        <p>
                                            {{ __( 'Vous renseignez vos anciennes et nouvelles coordonnées et nous nous occupons du reste ! Soyez précis pour une prise en compte plus rapide.', 'planet4-child-theme-luxembourg' ) }}

                                        </p>
                                    </div>


                                    <div class="field-row">
                                        <p><strong>{{ __( 'Adresse postale', 'planet4-child-theme-luxembourg' ) }}</strong></p>
                                    </div>

                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="adresse"><strong>{{ __( 'Ancienne adresse', 'planet4-child-theme-luxembourg' ) }} </strong> </label>
                                            <textarea name="old_adresse" id="old_adresse" data-hj-masked></textarea>
                                        </div>

                                        <div class="field-wrap">
                                            <label for="adresse"><strong>{{ __( 'Nouvelle adresse', 'planet4-child-theme-luxembourg' ) }}</strong></label>
                                            <textarea name="new_adresse" id="new_adresse" data-hj-masked></textarea>
                                        </div>
                                    </div>




                                    <div class="field-row">
                                        <p><strong>{{ __( 'Coordonnées téléphoniques', 'planet4-child-theme-luxembourg' ) }}</strong></p>
                                    </div>



                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="old_phone"><strong>{{ __( 'Ancien numéro fixe', 'planet4-child-theme-luxembourg' ) }} </strong></label>
                                            <input type="text" value="" name="old_phone" id="old_phone" data-msg-phone="{{ __( 'Merci d’indiquer un numéro de téléphone valide', 'planet4-child-theme-luxembourg' ) }}" />
                                        </div>

                                        <div class="field-wrap">
                                            <label for="new_phone"><strong>{{ __( 'Nouveau  numéro fixe', 'planet4-child-theme-luxembourg' ) }} </strong></label>
                                            <input type="text" value="" name="new_phone" id="new_phone" data-msg-phone="{{ __( 'Merci d’indiquer un numéro de téléphone valide', 'planet4-child-theme-luxembourg' ) }}" />
                                        </div>
                                    </div>


                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="old_phone_mobile"><strong>{{ __( 'Ancien numéro mobile', 'planet4-child-theme-luxembourg' ) }}</strong></label>
                                            <input type="text" value="" name="old_phone_mobile" id="old_phone_mobile"  data-msg-phone="{{ __( 'Merci d’indiquer un numéro de téléphone valide', 'planet4-child-theme-luxembourg' ) }}" />
                                        </div>

                                        <div class="field-wrap">
                                            <label for="new_phone_mobile"><strong>{{ __( 'Nouveau numéro mobile', 'planet4-child-theme-luxembourg' ) }}</strong></label>
                                            <input type="text" value="" name="new_phone_mobile" id="new_phone_mobile"  data-msg-phone="{{ __( 'Merci d’indiquer un numéro de téléphone valide', 'planet4-child-theme-luxembourg' ) }}" />
                                        </div>
                                    </div>



                                    <div class="field-row">
                                        <p><strong>Adresse e-mail</strong></p>
                                    </div>


                                    <div class="field-row two-in-row">
                                        <div class="field-wrap">
                                            <label for="old_email"><strong>{{ __( 'Ancienne adresse e-mail', 'planet4-child-theme-luxembourg' ) }}</strong></label>
                                            <input type="email" id="old_email" name="old_email" maxlength="80" data-rule-email="true" data-msg-mail="{{ __( 'Veuillez entrer une adresse email correcte', 'planet4-child-theme-luxembourg' ) }}"  data-hj-masked />
                                        </div>

                                        <div class="field-wrap">
                                            <label for="old_email"><strong>{{ __( 'Nouvelle adresse e-mail', 'planet4-child-theme-luxembourg' ) }}</strong></label>
                                            <input type="email" id="new_email" name="new_email" maxlength="80" data-rule-email="true" data-msg-mail="{{ __( 'Veuillez entrer une adresse email correcte', 'planet4-child-theme-luxembourg' ) }}"  data-hj-masked />
                                        </div>
                                    </div>

                                </div>


                                <div id="message-part" class="form-part hidden">
                                    <div class="field-wrap">
                                        <textarea name="message" id="message" data-hj-masked></textarea>
                                    </div>
                                </div>


                                 <button class="btn btn-primary btn-medium" id="form-submit" type="submit" data-loading="Envoi en cours..." style="display: block;">{{ __( 'ENVOYER', 'planet4-child-theme-luxembourg' ) }}</button>

                                <input type="hidden" id="form_id" name="form_id" value="{{ post.ID }}">
                                <input type="hidden" name="lang" value="{{ lang }}"/>



                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
